/* police */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
.logo{
   width: 70px;
   height: 70px;
   border:solid;
   border-radius:50%;
}
#intro {
    text-align: center;
}

h2 {
    color: #15bc09 !important;
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
}
textarea{
    width: 500px;
    min-height: 50px;
    max-height: 200px;
    padding: 15px;
    border: 2px solid #15bc09;
    border-radius: 25px;
    background-color: #111;
    color: white;
    font-size: 16px;
    resize: vertical;
}
textarea:focus {
    outline: none;
}

a {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #15bc09 !important;
}
#header {
   background-color: #000000 !important;
}

body {
    position: relative;
    min-height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);

    background-image: url("background_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    filter: blur(8px);
    z-index: -1;
}
.analyse{
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
}
.bouton{
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
}

/* #header{
   background-image: url(blob:https://gemini.google.com/d744bde0-5b1f-4c43-a901-42d7fa4850dd);
   background-repeat: no-repeat;
   background-position:center;
   background-attachment :fixed;
   background-size: cover;
}   */

